.container
  .col-lg-4
  .col-lg-4
    .row
      .well
        - if user_signed_in?
          .text-center.h4 Welcome #{current_user.full_name}
        - else
          .text-center.h4 Please Sign In with Fitbit
    - if user_signed_in?
      .row
        = form_tag('/', method: :get) do
          .form-group
            = label_tag(:polling_interval, 'Polling Interval')
            = select_tag(:polling_interval, options_for_select([['30 min', 30],['1 hr', 60]]), class: 'form-control')
          .col-lg-6
            .form-group
              = label_tag(:start_time, 'Start Time')
              = time_field_tag(:start_time, nil, class: 'form-control')
          .col-lg-6
            .form-group
              = label_tag(:end_time, 'End Time')
              = time_field_tag(:end_time, nil, class: 'form-control')
          .form-group
            = label_tag(:step_goal, 'Step Goal')
            = number_field_tag(:step_goal, nil, class: 'form-control')
          .col-lg-6
            .text-center= button_tag('Start', type: 'button', class: 'btn btn-default btn-success action-button', id: 'start-button')
          .col-lg-6
            .text-center= button_tag('Stop', type: 'button', class: 'btn btn-default btn-danger action-button', id: 'stop-button', disabled: true)
      .row
        .well
          .text-center.h4 Today's Step Count
          .text-center.h3= current_user.step_count
  .col-lg-4

