!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FitbitMove
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{ style: 'padding-top:50px; padding-bottom:50px;' }
    %nav.navbar.navbar-default.navbar-fixed-top
      .container
        - if user_signed_in?
          = button_to 'Sign Out', logout_path, class: 'btn btn-default navbar-btn navbar-right', method: :get
        - else
          = button_to 'Sign In with Fitbit', user_omniauth_authorize_path(:fitbit), class: 'btn btn-default navbar-btn navbar-right', method: :get

    = yield

    %nav.navbar.navbar-default.navbar-fixed-bottom
      .container

